<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Toy Circles - Sign Up</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
        
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="index.html">About <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active" href="#">Sign up</a>
            <a class="nav-item nav-link" href="login.html">Log in</a>
          </div>
        </div>
      </nav>
      <div class="container">

        
        <form>
          <br/>
            <h2>About You</h2>
            <div class="form-group row">
                <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-4">
                  <input type="name" class="form-control" id="inputName" placeholder="Name">
                </div>
              </div>
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
              <div class="col-sm-4">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
              <div class="col-sm-4">
                <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
              </div>
            </div>
            <div class="form-group row">
                <label for="inputAddress" class="col-sm-2 col-form-label">Address</label>
                <div class="col-sm-4">
                  <input type="address" class="form-control" id="inputAddress" placeholder="Address">
                </div>
              </div>
            
            </fieldset>
          </br>
            <h2>About Your Children</h2>

            <div class="form-group row">
                <label for="inputNumchildren" class="col-sm-2 col-form-label" >Num of Children</label>
                <div class="col-sm-4">
                <select id="inputNumChildren" class="form-control">
                  <option selected>Choose</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
              </div>
              <div class="form-group row">
                  <label for="inputAges" class="col-sm-2 col-form-label">Ages</label>
                  <div class="col-sm-4">
                    <input type="ages" class="form-control" id="inputAges" placeholder="Ages">
                  </div>
                </div>

            <div class="form-group row">
              <div class="col-sm-2">Interests</div>
              <div class="col-sm-10">
                  <% interests.forEach(function(interest) { %>
                      <div class="form-check">
                          <input class="form-check-input" value="<%= interest.id %>" type="checkbox" id="gridCheck1">
                          <label class="form-check-label" for="gridCheck1">
                            <%=interest.name %>
                          </label>
                        </div>
                  <% }); %>
                
              </div>
            </div>
            <div class="form-group row">
            
                  <div class="col-md-12 text-center"> <a href="dashboard.html" class="btn btn-primary btn-lg">Sign Up Now</a></div>

                <!-- <button type="submit" class="btn btn-primary">Sign Up</button> -->
              </div>
            </div>
          </form>
      
      



    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
 </div>
</body>
</html>